@{ 
    string assetFolder = MixCmsHelper.GetAssetFolder(ViewBag.culture);
}
<!DOCTYPE html>
<html lang="@ViewBag.culture" amp>

<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" sizes="16x16" href="@(MixService.GetConfig<string>("Favicon", ViewBag.culture) ?? "/favicon-16x16.png")">    
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=5.0, shrink-to-fit=no' name='viewport' />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="theme-color" content="#ffffff">
    <meta name="msapplication-TileColor" content="#ffffff">

    <base href="/@ViewBag.culture">
    <!-- CSS Dependencies -->
    <link rel="stylesheet" href="/css/app-vendor.min.css?v=3.0.0">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="@assetFolder/assets/css/shards-dashboards.min.css">
    <!-- <link rel="stylesheet" href="@assetFolder/assets/css/extras-dashboards.min.css"> -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <link rel='manifest' href='/manifest.webmanifest'>

    <link rel="apple-touch-icon" sizes="57x57" href="/assets/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png">

    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
    @RenderSection("Seo", false)     
    @RenderSection("Styles", false)
</head>

<body class="h-100" 
 
 ng-app="MixClient" ng-controller="AppClientController" ng-init="init('@ViewBag.culture')">   
 <div class="loader" ng-show="isBusy">
    <div class="page-loader"></div>
  </div> 
    <partial name="../Layouts/PWA_Sidebar.cshtml" />
    <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">        
        <partial name="../Layouts/PWA_Navbar.cshtml" />
        <div class="@ViewData["PageClass"]">
          @RenderBody()
        </div>
        <!-- <partial name="../Layouts/PWA_Footer.cshtml" /> -->
    </main>    
   <!--   Core JS Files   -->
    <script src="~/js/framework.min.js"></script>
    <script src="~/js/shared.min.js"></script>
    <script src="~/js/app-client-required.min.js"></script>
    <script src="~/js/app-client.min.js"></script>
    <script src="~/js/app-shared.min.js"></script>
    
    <!-- JavaScript Dependencies -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
  <script src="https://unpkg.com/shards-ui@latest/dist/js/shards.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Sharrre/2.0.1/jquery.sharrre.min.js"></script>
  <script src="@assetFolder/assets/js/shards-dashboards.min.js"></script>
  <script>
    
  // This is the "Offline page" service worker
  // Add this below content to your HTML page, or add the js file to your page at the very top to register service worker
  // Check compatibility for the browser we're running this in
  if ("serviceWorker" in navigator) {
      if (navigator.serviceWorker.controller) {
          console.log("[PWA Builder] active service worker found, no need to register");
      } else {
          // Register the service worker
          navigator.serviceWorker
              .register("service-worker.js", {
                  scope: "./"
              })
              .then(function (reg) {
                  console.log("[PWA Builder] Service worker has been registered for scope: " + reg.scope);
              });
      }
  }
  </script>
    <!--[SCRIPTS]-->
    @RenderSection("Scripts", false)
</body>
</html>
